<div class="contact d-flex justify-content-between px-5 py-2 align-items-center">
    <div class="head p-2 text-white align-items-center">
        <h1>Welcome Admin</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">You are now part of Transparent Hands Family!
                    Help us change lives.</li>
            </ol>
        </nav>
    </div>
</div>
<mat-card>
    <mat-card-header>
       Donation 
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="donationform" (ngSubmit)="donate()">
            <mat-form-field class="example-full-width">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="id">
            </mat-form-field>

            <!-- User name -->
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <!-- User email -->
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <!-- CArd no -->
            <mat-form-field class="example-full-width">
                <mat-label>Card no</mat-label>
                <input matInput formControlName="cardno">
            </mat-form-field>

            <!-- cvv -->
            <mat-form-field class="example-full-width">
                <mat-label>CVV</mat-label>
                <input matInput formControlName="cvv">
            </mat-form-field>

            <!-- amount -->
            <mat-form-field class="example-full-width">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount">
            </mat-form-field>


            <!-- button -->
            <button mat-raised-button color="primary">Donate</button>
        </form>

    </mat-card-content>
</mat-card>