<div class="container-1 bg-dark bg-opacity-10 my-2">
<div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>About TH</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">How it works</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Blog</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Supporting Organizations</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Transparency in our Processes</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Jobs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact Us</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Awards & Publications</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">TH Impact Force</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>The Basics</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQ's</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Payment FAQ</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms of Use</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Testimonials</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Press Release</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Crowdfunding</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Archive Stories</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Join TH Impact Force</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Audit Report</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Donation Plans</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Giving Seasons Donations</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pay Zakat Online - Zakat Calculator</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Christmas Donations</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Thanksgiving Donations</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Eid-al-Adha Donations</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Dhul Hijjah Donations</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Ramadan Donations Plan</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Muharram Donations Plan</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sadaqah Donations</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Follow US</h5>
            <p>Questions ? We will reply in 15 minutes!</p>
            <button class="btn btn-outline-success m-2 p-2"><img src="../../../assets/whatsapp.png" width="15px"> Chat With us via Whatsapp</button>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-success" type="button" routerLink="/contact">Submit</button>
            </div>
            <ul class="nav flex-column p-2 m-2">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><img src="../../../assets/home.png" width="20px"> 3100 Clarendon Blvd Suite 200 Arlington VA 22201</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><img src="../../../assets/whatsapp.png" width="20px"> +92-309-666-6025</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"><img src="../../../assets/email.png" width="20px">info@transparenthands.org</a></li>
            </ul>
            <ul class="list-unstyled d-flex align-items-center">
              <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="../../../assets/fb.png" width="30px"></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="../../../assets/inst.png" width="30px"></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="../../../assets/twitter.png" width="30px"></a></li>
            </ul>
            <h5>Download our Mobile App</h5>
            <ul class="list-unstyled d-flex align-items-center">
              <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="../../../assets/play-store-app.png" width="150px"></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="../../../assets/apple-store-app.png" width="150px"></a></li>
            </ul>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-2 border-top">
        <p>© 2023 Transparent || Hands , Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex align-items-center">
          <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="../../../assets/poweredby-footer.png" width="100%"></a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>